---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";

import imageOfMe from "../assets/images/me.jpg";

export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>River Phillips</h1>
			<Image
				src={imageOfMe}
				alt="River Phillips"
				height="250"
				width="250"
				class="me"
			/>
			<p>
				Hey there! I'm River. For the last 3 years I've been working as
				a Software Engineer in London for various Fintech and ecommerce
				companies. I'm currently working as a Platform Engineer
				focussing on building Cloud Native solutions with Kubernetes to
				make developers lives easier.
			</p>
			<p>
				I Enjoy contributing to Open Source projects, some great
				projects that I have been able to contribute to are:
				<ul>
					<li>Envoy Proxy</li>
					<li>Terraform</li>
					<li>TestContainers</li>
				</ul>
			</p>
			<p>
				When I'm not working I enjoy cycling, being nerdy about coffee
				and cooking.
			</p>
		</main>
		<Footer />
		<style>
			h1 {
				text-align: center;
			}
			.me {
				border-radius: 50%;
				margin: 0 auto;
				/* Center the image*/
				display: block;
			}
		</style>
	</body>
</html>
